*{
    margin: 0;
    padding: 0;
}
 .main nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px 20px;
     height: 40px;
     background-color: #06202B;
 }

 .leftside {
     display: flex;
     gap: 40px;
     align-items: center;
     font-size: 30px;
 }
 .logo{
    display: flex;
 }

 .leftside h2 {
     color: white;
 }

 .leftside img {
     height: 50px;
     width: 50px;
 }

 .searchbar {
    display: flex;
    align-items: center;
     border: 1px solid black;
     background-color: white;
     height: 35px;
     padding: 5px 10px;
     border-radius: 25px;
 }

 .search {
     border: none;
     background: transparent;
     outline: none;
     width: 120px;
 }
 i {
     color: #06202B;
     font-size: 30px;
 }
 .choose{
    display: flex;
    align-items: center;
    gap: 10px;
 }
 .choose select{
    height: 30px;
    width: 80px;
 }
 .rightside{
    display: flex;
    align-items: center;
    gap: 20px;
 }
 .flagicon{
    height: 20px;
     width: 30px;
 }
 .Login{
    display: flex;
    align-items: center;
    gap: 8px;
 }
 .Login select{
    height: 30px;
    width: 180px;
    background-color: #077A7D;
    color: white;
 }
 button{
    height: 30px;
    width: 40px;
    background-color: #077A7D;
    color: white;
 }
 .login button{
     padding: 5px 10px;
    border-radius: 5px;
    
    border: none;
    cursor: pointer;
    
 }
 .manage{
    display: flex;
    align-items: center;
    gap: 10px;
 }
 .manage h4{
    color: white;
 }
 .manage i {
     color: white;
     font-size: 24px;
 }
 .about{
   color: white;
   display: flex;
   align-items: center;
   gap: 30px;
 }
 .about h4:hover{
   cursor: pointer;
   box-shadow: 1px 1px 10px whitesmoke; 
 }
 .link{
   text-decoration: none;
    color: white;
 }
 .box1{
   background-color:#023436;
   height: 50vh;
   width: 100vw;
   display: flex;
 }
 .box1 h2{
   padding-bottom: 30px;
   font-size: 40px;
   color:#8cd6d9;
 }
 .box1 p{
   font-size: 18px;
   color: white;
 }
 .box1 img{
   height: 200px;
   width: 200px;
   border-radius: 50%;
   margin-top: 40px;
   margin-right: 20px ;
 }
 .content{
   text-align: center;
   padding-top: 40px;
   padding-left: 80px;
   padding-right: 80px;
 }
 .box2 img{
   position: relative;
   height: 70vh;
   width: 100vw;
 }
 .guest{
   position: absolute;
   top: 100%;
   left: 50%;
   transform: translate(-50%,-50%);
 }
 .guest h2{
   text-align: center;
   color: black;
   font-size: 30px;
   font-weight:bolder;
 }
 .review{
   display: flex;
   padding-top: 30px;
   text-align: center;
 }
 .guest p{
   color: black;
   font-size: 15px;
   font-weight: bold;
 }
 .para h4{
   padding-top: 10px;
 }
 .para img{
   height: 80px;
   width: 80px;
   border-radius: 50%;
 }
 .foot{
   background-color: rgb(55, 54, 54);
   height: 10vh;
   width: 100vw;
}
.foot h4{
   text-align: center;
   padding-top: 25px;
}